@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
    font-family: Roboto, sans-serif;
    color: crimson;
    background: LightSlateGrey;
    /*font-size: 16px;
    font-family: Roboto,sans-serif;
    font-weight: normal;
    font-style: italic;
    word-spacing: 2px;*/
}



.card {
    border: 2px solid palevioletred;
    background-color: palevioletred;
    border-radius: 18px;
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    font-weight: 1000;
    word-spacing: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.troop {
    border: 2px solid Olive;
    background-color: Olive;
    border-radius: 18px;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 1000;
    word-spacing: 2px;
    padding: 10px;
    margin-bottom: 10px;
}

.popik {
    border: 2px solid tomato;
    background-color: tomato;
    color: white;
    border-radius: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 1000;
    word-spacing: 2px;
    padding: 10px;
    margin-bottom: 10px;
}